/* Color schemes */
:root {
    /* General */
    --main-bg-color:#2a2e37;
    --footer-bg-color:#222631;
    --table-header-bg-color: #222631;
    --table-cell-bg-color: #292d39;
    --table-border-color: #353946;

    /* Text */
    --text-color: #dcddde;
    --link-color: #5eddd3;
    --link-hover-color: #79f1e7;
    --link-active-color: #fff;
    --link-active-bg-color: #7289da;
    --h3-color: #ffffffa4;
    --h4-color: #ffffffeb;
    --h5-color: #ffffffd1;
    
    /* Topbar */
    --topbar-bg-color: #222631;
    --topbar-border-color: #1a1e26;
    --topbar-active-item-color: #1b1e27;
    --topbar-dropdown-border-color: #282e35;

    /* Subnav & Breadcrumb */
    --subnav-bg-color: #292d39;
    --breadcrumb-bg-color: #2f3136;
    
    /* Button */
    --button-color: #747f8d;

    /* Sidebar */
    --separator-color: #3a4350;
    --sidebar-bg-color:#222631;
    --sidebar-item-color: #b9bbbe;
    --sidebar-item-2nd-color: hsla(0,0%,100%,.35);
    --sidebar-item-3rd-color: hsla(0,0%,100%,.25);

    /* Scrollbar */
    --scrollbar-bg-color: transparent;
    --scrollbar-thumb-bg-color: #5d647b;
    --scrollbar-thumb-border-color: transparent;

    /* Alerts and Blocks */
    --alert-info-border-color: rgba(114,137,218,.5);
    --alert-info-bg-color: rgba(114,137,218,.1);

    --alert-warning-border-color: rgba(250,166,26,.5);
    --alert-warning-bg-color: rgba(250,166,26,.1);

    --alert-danger-border-color: rgba(240,71,71,.5);
    --alert-danger-bg-color: rgba(240,71,71,.1);

    --alert-tip-border-color: rgba(255,255,255,.5);
    --alert-tip-bg-color: rgba(255,255,255,.1);

    --blockquote-border-color: rgba(255,255,255,.5);
    --blockquote-bg-color: rgba(255,255,255,.1);


    /* Code Higlighting */
    --code-bg-color: #1f2228;
    --code-color: #b4c1df;
    --code-keyword-color: #00ffea;
    --code-title-color: #7c9aff;
    
    /* Text Input */
    --text-input-bg-color: #394559;

    /* Buttons */
    --btn-primary-color: #7289da;
    --btn-primary-active-color: #8fa8ff;
    --btn-primary-border-color: rgba(114,137,218,.5);
    --btn-secondary-color: transparent;
    --btn-secondary-active-color: rgba(187, 201, 251, 0.2);
    --btn-secondary-border-color: var(--btn-primary-active-color);

    /* Search Results */
    --search-mark-bg-color: #9fbcff;
    --search-result-item-color: var(--btn-primary-active-color);
    --search-result-href-color: var(--link-hover-color);

    /* Pagination */
    --pagination-button-bg-color: #394559;
    --pagination-button-border-color: #3a4350;
    --pagination-button-bg-hover-color: #596c8a;

    /* Table of Contents */
    --toc-item-color: #c9cedb;
    --toc-item-hover-color: white;
    --toc-item-active-color: var(--btn-primary-color);
    --toc-item-active-hover-color: var(--btn-primary-active-color);
}
