::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-bg-color); 
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-bg-color); 
    border-color: var(--scrollbar-thumb-border-color);
    border-radius: 5px;
}

input::placeholder {
    font-style: italic;
}

* {
  scrollbar-color: var(--scrollbar-thumb-bg-color) var(--scrollbar-bg-color);
  scrollbar-width: thin;
}

html, body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex: 1;
    padding: 0;
    margin: 0;
    font: 15px/150% 'Segoe UI', sans-serif;
    overflow: hidden;
    color: var(--text-color);
    background-color: var(--main-bg-color);
}

main {
    width: 100%;
    margin-top: 50px;
    overflow: auto;
}

footer {
    position: fixed;
}

h1,h2,h3,h4,h5 {
    color: var(--link-active-color);
}

h1, h2 {
    margin-block-start: 2em;
}

h3 {
    margin-block-start: 1em;
    font-weight: 300;
    font-size: 1.5em;
    color: var(--h3-color);
    margin-block-start: 3em;
}

h4 {
    opacity: 1;
    color: var(--h4-color);
    font-size: large;
    border-bottom: 2px solid var(--separator-color);
    margin: 20px 0 0 0;
}


h5 {
    margin-block-end: .8em;
    margin-block-start: 1em;
    font-size: .85em;
    font-weight: 500;
    color: var(--h5-color);
}

h6 {
    font-size: .75em;
    margin: 0;
}

p {
    font-weight: 400;
}

ul {
    padding-inline-start: 1em;
    position: relative;
}

ul.nav {
    margin-left: 15px;
}

ul.level1 {
    padding-inline-start: 0;
}

ul.level2, ul.level3 {
    font-size: .9em;
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: color .25s;
}

a:focus, a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

a.active, a:active {
    color: var(--link-active-color);
}

.btn {
    border-radius: 0;
}

.btn.btn-primary {
    background-color: var(--btn-primary-color);
    border-color: var(--btn-primary-border-color);
}

.btn.btn-primary:active:hover, .btn.btn-primary:active:focus {
    background-color: var(--btn-primary-active-color);
}

.btn.btn-secondary {
    background-color: var(--btn-secondary-color);
    border-color: var(--btn-secondary-border-color);
}

.btn.btn-secondary:active:hover, .btn.btn-secondary:active:focus {
    background-color: var(--btn-secondary-active-color);
}

input[type=text] {
    background-color: var(--text-input-bg-color);
    color: var(--text-color);
    border: solid 1px var(--separator-color);
    border-radius: 3px;
}

#wrapper {
    overflow: auto;
}

nav.navbar {
    background-color: var(--topbar-bg-color);
    width: 100%;
    height: 50px;
}

.navbar-brand img#logo {
    height: 45px;
}

#navbar {
    margin-left: 1%;
}

.navbar-inverse {
    border-color: var(--topbar-border-color);
}

.navbar-header svg {
    display: none;
}

.navbar-inverse .navbar-nav > li > a {
    text-transform: uppercase;
    color: #dfdfdf;
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: var(--topbar-active-item-color);
}

.navbar-inverse .navbar-nav > .active > a:hover {
    background-color: var(--topbar-active-item-color);
}

@media (min-width: 992px) {
    #autocollapse .form-control {
        width: 250px;
    }
}

.sidenav {
    background-color: var(--footer-bg-color);
}

.subnav {
    background-color: var(--subnav-bg-color);
    border-color: var(--separator-color);
}

.sidefilter, .sidetoc {
    background-color: var(--sidebar-bg-color);
    border-color: var(--sidebar-bg-color);
}

.sidetoc.shiftup {
    bottom: 53px;
}

.hero {
    position: relative;
    height: 350px;
}

.hero > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
}

.hero-background {
    opacity: .2;
    background-image: url(/images/hero.jpg);
    background-size: cover;
}

.hero-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-logo {
    height: 150px;
    margin-left: -20px;
}

.hero-actions .btn {
    margin: 25px 10px;
    padding: 10px 25px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    width: 200px;
}

.hero-actions .btn-secondary {
    background: transparent;
    color: var(--btn-primary-active-color);
    border-color: var(--btn-primary-active-color);
}

.summary-bullets {
    margin: 50px 30%;
}

.summary-bullet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 70px 0;
}

.summary-bullet img {
    width: 250px;
}

.summary-bullet section.left {
    margin-right: 25px;
}

.summary-bullet section.right {
    margin-left: 25px;
}

.summary-bullet p {
    font-size: 18px;
}

.summary-bullet h2 {
    margin-block-start: 0;
}

.summary-bullet.media-workflows .glyphicon {
    font-size: 80px;
    margin: 30px;
}

body .toc {
    background-color: transparent;
}

.toc-filter {
    background-color: var(--text-input-bg-color);
}

.toc .nav > li > a {
    color: var(--h3-color);
}

.toc .nav > li > a:hover, 
.toc .nav > li > a:focus {
    color: white;
}

.toc .nav > li.active > a {
    color: var(--btn-primary-color);
}

.toc .nav > li.active > a:hover {
    color: var(--btn-primary-active-color);
}

.deemphasize {
    opacity: .5;
}

.footer {
    background-color: var(--topbar-bg-color);
    border-color: var(--separator-color);
}

.sideaffix > div.contribution > ul > li > a.contribution-link:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.codewrapper pre {
    background-color: var(--code-bg-color);
}

.hljs {
    color: var(--code-color);
}

.hljs-keyword {
    color: var(--code-keyword-color);
}

.hljs-title {
    color: var(--code-title-color);
}

.table-bordered {
    border: 1px outset var(--table-border-color);
}

.table-bordered > thead > tr > th {
    background-color: var(--table-header-bg-color);
    border: 1px inset var(--table-border-color);
}

.table-bordered > tbody > tr > td {
    background-color: var(--table-cell-bg-color);
    border: 1px inset var(--table-border-color);
}

.affix ul > li > a {
    color: var(--h3-color);
}

.affix ul > li > a:hover {
    color: var(--h4-color);
}

.affix ul > li.active > a, .affix ul > li.active > a:before {
    color: var(--btn-primary-color);
}

.sideaffix .nav {
    margin-left: 0;
}

td div, th div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
}

td .version-number {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
}

.environment-arch, .service-arch {
    margin: 10px 0 20px 0;
}

.mark, mark {
    background-color: var(--search-mark-bg-color);
}

.pagination > li > a,
.pagination > li.disabled > a {
    background-color: var(--pagination-button-bg-color);
    border-color: var(--pagination-button-border-color);
}

.pagination > li > a {
    color: var(--link-color);
}
.pagination > li.active > a,
.pagination > li.active > a:hover {
    background-color: #47A7A0;
    border-color: #47A7A0
}

.pagination > li > a:hover {
    background-color: var(--pagination-button-bg-hover-color);
    color: var(--link-color);
    border-color: transparent;
}

.pagination > li.disabled > a {
    cursor: default !important;
}

.pagination > li.disabled > a:hover,
.pagination > li.disabled > a:focus {
    background-color: var(--pagination-button-bg-color);
    border-color: var(--pagination-button-border-color);
}

.sr-item > .item-title > a {
    color: var(--search-result-item-color);
}

.sr-item > .item-href {
    color: var(--search-result-href-color);
}