{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
{{!include(/^styles/.*/)}}
{{!include(/^fonts/.*/)}}
{{!include(favicon.ico)}}
{{!include(logo.svg)}}
{{!include(search-stopwords.json)}}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>
  {{>partials/apiHead}}
  <body data-spy="scroll" data-target="#affix" data-offset="120">
    <div id="wrapper">
      <header>
        {{>partials/navbar}}
        {{>partials/breadcrumb}}
      </header>
      <div class="container body-content">
        {{>partials/searchResults}}
      </div>
      <div role="main" class="container body-content hide-when-search">
        {{>partials/toc}}
        <div class="article row grid-right">
          <div class="col-md-10">
            <article class="content wrap" id="_content" data-uid="{{uid}}">
              {{!body}}
            </article>
          </div>
          {{>partials/affix}}
        </div>
      </div>
      {{>partials/footer}}
    </div>
    {{>partials/scripts}}
  </body>
</html>
