.hide {
    display: none;
}

input[type=text] {
    background-color: var(--text-input-bg-color);
    color: var(--text-color);
    padding: 8px;
    border: solid 1px var(--separator-color);
    border-radius: 3px;
}

#search-results {
    display: none;
}

#search {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

#search input[type=text] {
    width: 225px;
}

.footer {
    background-color: var(--footer-bg-color);
    padding: 20px;
    margin: 0 20px 20px 20px;
    border-radius: 8px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toc-filter {
    position: relative;
    display: flex;
}

#toc_filter_input {
    padding-left: 25px;
    flex: 1;
}

.toc-filter .glyphicon {
    position: absolute;
    top: 11px;
}

.toc-filter .glyphicon-filter {
    left: 5px;
}

.toc-filter .glyphicon-remove {
    cursor: pointer;
    right: 5px;
}

.navbar-nav .sidebar-item {
    font-size: 17px;
    text-transform: uppercase;
}